{% extends 'navigation.html' %}

{% block content %}
<h2>Yoooo, search stock here</h2>
<br><br>
<form method="post">
    <div class="form-group d-flex align-items-center gap-2">
        <label for="ticker" class="mr-2 text-nowrap" style="width: 120px;"><b>Stock Ticker</b></label>
        <input type="text" name="ticker"
               placeholder="GOOGL" class="form-control"
               value="{{ request.form['ticker'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% if stock %}
    <br>
    <br>
    <h3>Stock Information</h3>
    <br>
    <p><b>Ticker</b>: {{ stock['ticker'] }}</p>
    <p><b>Company Name</b>: {{ stock['full_name'] }}</p>
    <p><b>Current Price</b>: {{ current_price['price'] }}</p>
    <p><b>Historical High</b>: {{ historical_high['price'] }}</p>
    <p><b>Historical Low</b>: {{ historical_low['price'] }}</p>
    <p><b>Trade Volume within 24 hrs</b>: {{ trading_volume_with_past_24_hours['price'] }}</p>
{% endif %}

{% if error %}
    <div class="alert alert-danger">Woow I What Ya Tryna Search</div>
{% endif %}

{% endblock %}